@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;1,300;1,400&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    background: #fbfbff;
}

body{
    background: #fbfbff;
}

.brand-text{
    font-weight: 700 !important;
    color: #7079fc !important;
    background: #fbfbff;
}

/* Mobile devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    
}

@media (min-width: 576px) {

}